<a href="https://colab.research.google.com/github/KhondamirRustamov/Python_intro_biophysics_lab/blob/main/Lesson_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install Bio

In [2]:
from Bio.Seq import Seq

In [ ]:
my_seq = Seq('ATGAAGCGCGATCGATCGATCGCATACGCTCGCAAATAGAAACAC')
print(my_seq)

In [ ]:
print(my_seq.complement())

In [ ]:
print(my_seq.reverse_complement())

In [ ]:
print(my_seq.transcribe())

In [ ]:
print(my_seq.translate())

In [ ]:
print(my_seq.translate(to_stop=True))

In [ ]:
#@title PANDAS

In [ ]:
import numpy as np
import pandas as pd # Стандартное сокращение для pandas. Всегда используйте его!

In [ ]:
some_list = [1, 3, 5, np.nan, 6, 8]
ser_1 = pd.Series(some_list)
ser_1

In [ ]:
# Так же можно в явном виде указать индексы, чтобы потом было более удобно обращаться к элементам
ind = ['1st day', '2nd day', '3rd day', '4th day', '5rd day', '6th day']

ser_2 = pd.Series(some_list, index=ind)
ser_2

In [ ]:
ser_2['4th day']

In [ ]:
# А еще можно дать pd.Series имя, чтобы было совсем красиво
ser_3 = pd.Series(some_list, index=ind, name='Temperature')
ser_3

In [ ]:
print(ser_3[0])

print('-----------')

print(ser_3[1:3])

print('-----------')

print(ser_3[::-1])

In [ ]:
date_range = pd.date_range('20190101', periods=10)
ser_4 = pd.Series(np.random.rand(10), index=date_range)
ser_4

In [ ]:
ser_4 > 0.5

In [ ]:
ser_4[ser_4 > 0.5]

In [ ]:
ser_4[(ser_4 > 0.6) | (ser_4 < 0.2)]

In [ ]:
ser_4[(ser_4 > 0.6) & (ser_4 < 0.2)]

In [ ]:
ser_4.sort_index()

In [ ]:
ser_4 = ser_4.sort_values()

In [ ]:
ser_4

In [ ]:
ser_4 + 100

In [ ]:
np.exp(ser_4)

In [ ]:
term_1 = pd.Series(np.random.randint(0, 10, 5))
term_2 = pd.Series(np.random.randint(0, 10, 6))

term_1 + term_2

In [ ]:
term_1.shape

In [ ]:
#@title pd.DataFrame

In [ ]:
# Dataframe можно составить из словаря. Ключ будет соответсовать колонке
some_dict = {'one': pd.Series([1,2,3], index=['a','b','c']),
             'two': pd.Series([1,2,3,4], index=['a','b','c','d']),
             'three': pd.Series([5,6,7,8], index=['a','b','c','d'])}
df = pd.DataFrame(some_dict)
df

In [ ]:
#Альтернативно, из списка списков с аргументом columns

some_array = [[1,1,5], [2,2,6], [3,3,7], [np.nan, 4,8]]
df = pd.DataFrame(some_array, index=['a', 'b', 'c', 'd'], columns=['one', 'two', 'three'])
df

In [ ]:
df.values

In [ ]:
df.columns

In [ ]:
df.columns = ['first_column', 'second_column', 'third_column']
df.index = [1,2,3,4]
df

In [ ]:
first_column = df['first_column']
first_column

In [ ]:
df.first_column

In [ ]:
subset_dataframe = df[['first_column', 'second_column']]
subset_dataframe

In [ ]:
one_column_dataframe = df[['first_column']]
one_column_dataframe

In [ ]:
df[1] # не сработает

In [ ]:
df[:1]

In [ ]:
df[1:4]

In [ ]:
# По индексам:
df.iloc[1:3, :2]

In [ ]:
df.loc[1:3, ['first_column', 'second_column']]

In [ ]:
new_column = [5,2,1,4]
df['new_column'] = new_column
df

In [ ]:
df['first_column'] = df['first_column'] * 10
df

In [ ]:
# df_1 = pd.read_csv('titanic_data.csv')
pass_link = 'https://www.dropbox.com/s/lyzcuxu1pdrw5qb/titanic_data.csv?dl=1'
titanic_passengers = pd.read_csv(pass_link, index_col='PassengerId') # index_col=?

In [ ]:
print('Всего пассажиров: ', len(titanic_passengers))
titanic_passengers.head(10)

In [ ]:
titanic_passengers.shape

In [ ]:
titanic_passengers.info()

In [ ]:
titanic_passengers.describe()