<a href="https://colab.research.google.com/github/KhondamirRustamov/Python_intro_biophysics_lab/blob/main/Lesson_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd # Стандартное сокращение для pandas. Всегда используйте его!

In [2]:
some_list = [1, 3, 5, np.nan, 6, 8]
ser_1 = pd.Series(some_list)
ser_1

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# Так же можно в явном виде указать индексы, чтобы потом было более удобно обращаться к элементам
ind = ['1st day', '2nd day', '3rd day', '4th day', '5rd day', '6th day']

ser_2 = pd.Series(some_list, index=ind)
ser_2

1st day    1.0
2nd day    3.0
3rd day    5.0
4th day    NaN
5rd day    6.0
6th day    8.0
dtype: float64

In [4]:
ser_2['4th day']

nan

In [5]:
# А еще можно дать pd.Series имя, чтобы было совсем красиво
ser_3 = pd.Series(some_list, index=ind, name='Temperature')
ser_3

1st day    1.0
2nd day    3.0
3rd day    5.0
4th day    NaN
5rd day    6.0
6th day    8.0
Name: Temperature, dtype: float64

In [6]:
print(ser_3[0])

print('-----------')

print(ser_3[1:3])

print('-----------')

print(ser_3[::-1])

1.0
-----------
2nd day    3.0
3rd day    5.0
Name: Temperature, dtype: float64
-----------
6th day    8.0
5rd day    6.0
4th day    NaN
3rd day    5.0
2nd day    3.0
1st day    1.0
Name: Temperature, dtype: float64

In [7]:
date_range = pd.date_range('20190101', periods=10)
ser_4 = pd.Series(np.random.rand(10), index=date_range)
ser_4

2019-01-01    0.572119
2019-01-02    0.314332
2019-01-03    0.454374
2019-01-04    0.846030
2019-01-05    0.856777
2019-01-06    0.157689
2019-01-07    0.158344
2019-01-08    0.717565
2019-01-09    0.683690
2019-01-10    0.215376
Freq: D, dtype: float64

In [8]:
ser_4 > 0.5

2019-01-01     True
2019-01-02    False
2019-01-03    False
2019-01-04     True
2019-01-05     True
2019-01-06    False
2019-01-07    False
2019-01-08     True
2019-01-09     True
2019-01-10    False
Freq: D, dtype: bool

In [9]:
ser_4[ser_4 > 0.5]

2019-01-01    0.572119
2019-01-04    0.846030
2019-01-05    0.856777
2019-01-08    0.717565
2019-01-09    0.683690
dtype: float64

In [10]:
ser_4[(ser_4 > 0.6) | (ser_4 < 0.2)]

2019-01-04    0.846030
2019-01-05    0.856777
2019-01-06    0.157689
2019-01-07    0.158344
2019-01-08    0.717565
2019-01-09    0.683690
Freq: D, dtype: float64

In [11]:
ser_4[(ser_4 > 0.6) & (ser_4 < 0.2)]

Series([], Freq: D, dtype: float64)

In [12]:
ser_4.sort_index()

2019-01-01    0.572119
2019-01-02    0.314332
2019-01-03    0.454374
2019-01-04    0.846030
2019-01-05    0.856777
2019-01-06    0.157689
2019-01-07    0.158344
2019-01-08    0.717565
2019-01-09    0.683690
2019-01-10    0.215376
Freq: D, dtype: float64

In [13]:
ser_4 = ser_4.sort_values()

In [14]:
ser_4

2019-01-06    0.157689
2019-01-07    0.158344
2019-01-10    0.215376
2019-01-02    0.314332
2019-01-03    0.454374
2019-01-01    0.572119
2019-01-09    0.683690
2019-01-08    0.717565
2019-01-04    0.846030
2019-01-05    0.856777
dtype: float64

In [15]:
ser_4 + 100

2019-01-06    100.157689
2019-01-07    100.158344
2019-01-10    100.215376
2019-01-02    100.314332
2019-01-03    100.454374
2019-01-01    100.572119
2019-01-09    100.683690
2019-01-08    100.717565
2019-01-04    100.846030
2019-01-05    100.856777
dtype: float64

In [16]:
np.exp(ser_4)

2019-01-06    1.170802
2019-01-07    1.171569
2019-01-10    1.240328
2019-01-02    1.369345
2019-01-03    1.575187
2019-01-01    1.772018
2019-01-09    1.981175
2019-01-08    2.049437
2019-01-04    2.330376
2019-01-05    2.355556
dtype: float64

In [17]:
term_1 = pd.Series(np.random.randint(0, 10, 5))
term_2 = pd.Series(np.random.randint(0, 10, 6))

term_1 + term_2

0    17.0
1    12.0
2     1.0
3     9.0
4     9.0
5     NaN
dtype: float64

In [18]:
term_1.shape

(5,)

In [ ]:
#@title pd.DataFrame

In [19]:
# Dataframe можно составить из словаря. Ключ будет соответсовать колонке
some_dict = {'one': pd.Series([1,2,3], index=['a','b','c']),
             'two': pd.Series([1,2,3,4], index=['a','b','c','d']),
             'three': pd.Series([5,6,7,8], index=['a','b','c','d'])}
df = pd.DataFrame(some_dict)
df

   one  two  three
a  1.0    1      5
b  2.0    2      6
c  3.0    3      7
d  NaN    4      8

In [20]:
#Альтернативно, из списка списков с аргументом columns

some_array = [[1,1,5], [2,2,6], [3,3,7], [np.nan, 4,8]]
df = pd.DataFrame(some_array, index=['a', 'b', 'c', 'd'], columns=['one', 'two', 'three'])
df

   one  two  three
a  1.0    1      5
b  2.0    2      6
c  3.0    3      7
d  NaN    4      8

In [21]:
df.values

array([[ 1.,  1.,  5.],
       [ 2.,  2.,  6.],
       [ 3.,  3.,  7.],
       [nan,  4.,  8.]])

In [22]:
df.columns

Index(['one', 'two', 'three'], dtype='object')

In [23]:
df.columns = ['first_column', 'second_column', 'third_column']
df.index = [1,2,3,4]
df

   first_column  second_column  third_column
1           1.0              1             5
2           2.0              2             6
3           3.0              3             7
4           NaN              4             8

In [24]:
first_column = df['first_column']
first_column

1    1.0
2    2.0
3    3.0
4    NaN
Name: first_column, dtype: float64

In [25]:
df.first_column

1    1.0
2    2.0
3    3.0
4    NaN
Name: first_column, dtype: float64

In [26]:
subset_dataframe = df[['first_column', 'second_column']]
subset_dataframe

   first_column  second_column
1           1.0              1
2           2.0              2
3           3.0              3
4           NaN              4

In [27]:
one_column_dataframe = df[['first_column']]
one_column_dataframe

   first_column
1           1.0
2           2.0
3           3.0
4           NaN

In [ ]:
df[1] # не сработает

In [29]:
df[:1]

   first_column  second_column  third_column
1           1.0              1             5

In [30]:
df[1:4]

   first_column  second_column  third_column
2           2.0              2             6
3           3.0              3             7
4           NaN              4             8

In [31]:
# По индексам:
df.iloc[1:3, :2]

   first_column  second_column
2           2.0              2
3           3.0              3

In [32]:
df.loc[1:3, ['first_column', 'second_column']]

   first_column  second_column
1           1.0              1
2           2.0              2
3           3.0              3

In [33]:
new_column = [5,2,1,4]
df['new_column'] = new_column
df

   first_column  second_column  third_column  new_column
1           1.0              1             5           5
2           2.0              2             6           2
3           3.0              3             7           1
4           NaN              4             8           4

In [34]:
df['first_column'] = df['first_column'] * 10
df

   first_column  second_column  third_column  new_column
1          10.0              1             5           5
2          20.0              2             6           2
3          30.0              3             7           1
4           NaN              4             8           4

In [35]:
# df_1 = pd.read_csv('titanic_data.csv')
pass_link = 'https://www.dropbox.com/s/lyzcuxu1pdrw5qb/titanic_data.csv?dl=1'
titanic_passengers = pd.read_csv(pass_link, index_col='PassengerId') # index_col=?

In [36]:
print('Всего пассажиров: ', len(titanic_passengers))
titanic_passengers.head(10)

Всего пассажиров:  891

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [37]:
titanic_passengers.shape

(891, 10)

In [38]:
titanic_passengers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

In [39]:
titanic_passengers.describe()

           Pclass         Age       SibSp       Parch        Fare
count  891.000000  714.000000  891.000000  891.000000  891.000000
mean     2.308642   29.699118    0.523008    0.381594   32.204208
std      0.836071   14.526497    1.102743    0.806057   49.693429
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   20.125000    0.000000    0.000000    7.910400
50%      3.000000   28.000000    0.000000    0.000000   14.454200
75%      3.000000   38.000000    1.000000    0.000000   31.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200