<a href="https://colab.research.google.com/github/KhondamirRustamov/Python_intro_biophysics_lab/blob/main/Lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Boolean
# We did integer, float, string before

a = True
b = False
print(a)

In [ ]:
print(a-1)

In [ ]:
a = 1 # = True
b = 0 # = False

print(a)

In [ ]:
# Conditional Operators

first_value = 1
second_value = 2

print(first_value == second_value)
print(1 == 1)

In [ ]:
print(first_value >= second_value)
print(2 >= 1)
print(2 > 1)

In [ ]:
print(first_value <= second_value)
print(2 <= 1)
print(2 < 4)

In [8]:
# Conditionals IF-ELSE

a = 4

if a > 8:
  print('a > 8')

In [ ]:
if a > 8:
  print('a > 8')
else:
  print('a < 8')

In [ ]:
if a > 8:
  print('a > 8')
elif a < 2:
  print('a < 2')
else:
  print('2 < a < 8')

In [ ]:
nuc = 'A'

if nuc == 'A':
  print('T')
elif nuc == 'C':
  print('G')
elif nuc == 'T':
  print('A')
else:
  print('C')

In [12]:
a = 8
b = 10

if a >= 7 and b <= 7:
  print('Hello')

In [ ]:
if a >= 7 or b <= 7:
  print('Hello')

In [ ]:
if True or False:
  print('or works (true/false)')

if False or False:
  print('or works (false/false)')

if True or True:
  print('or works (true/true)')

In [ ]:
if True and False:
  print('and works (true/false)')

if False and False:
  print('and works (false/false)')

if True and True:
  print('and works (true/true)')

In [ ]:
x = 3
y = 3.14
z = '3.14'
w = False

print('type of x: ', type(x))
print('type of y: ', type(y))
print('type of z: ', type(z))
print('type of w: ', type(w))

In [ ]:
print(type(float(z)))

In [ ]:
print(type(int(y)))

In [ ]:
x = input()
print(x)

In [ ]:
x = input("text an input: ")
print(x)

In [25]:
# In place operations

x = 4
print(x)

x = x + 2
print(x)

4
6

In [26]:
x = 4
print(x)

x += 2
print(x)

4
6

In [29]:
x = 4
print(x)

x -= 2
print(x)

4
2

In [28]:
x = 4
print(x)

x *= 2
print(x)

4
8

In [27]:
x = 4
print(x)

x /= 2
print(x)

4
2.0

In [31]:
# WHILE loop

x = 5

while x > 0:
  print(x)
  x -= 1

5
4
3
2
1

In [32]:
# strings in a while loop

x = 5
new_string = ''

while x > 0:
  new_string += str(x)
  x -= 1

print(new_string)

54321

In [35]:
# strings in a while loop

x = 5
new_string = ''

while x > 0:
  if x % 2 == 0:
    new_string += str(x)
  x -= 1

print(new_string)

42

In [36]:
# strings in a while loop

x = 5
new_string = ''

while x > 0:
  if x % 2 == 0:
    new_string += str(x)
  else:
    new_string += '0'
  x -= 1

print(new_string)

04020

In [38]:
# string len

old_string = 'ABCDEFG'
x = 0

while x < len(old_string):
  print(old_string[x])
  x += 1

A
B
C
D
E
F
G

In [37]:
# For loop

old_string = 'ABCDEFG'

for i in old_string:
  print(i)

A
B
C
D
E
F
G

In [39]:
old_string = 'ACGTACGT'
new_string = ''

for nuc in old_string:
  if nuc == 'A':
    print('T')
  elif nuc == 'C':
    print('G')
  elif nuc == 'T':
    print('A')
  else:
    print('C')

T
G
C
A
T
G
C
A

In [40]:
# For loop

old_string = 'ABCDEFG'
new_string = ''

for i in old_string:
  new_string += i

print(new_string)

ABCDEFG